phase0-fundamentals/week2-uboot/u-boot/
phase0-fundamentals/week4-kernel/linux/
phase0-fundamentals/week5-rootfs/busybox/
phase0-fundamentals/week5-rootfs/rootfs/
phase0-fundamentals/week5-rootfs/initramfs.cpio.gz
phase0-fundamentals/week6-buildroot/buildroot/
phase0-fundamentals/week6-buildroot/buildroot/
